* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS for Navbar start */

.navbar-brand {
  font-size: 2rem !important;
  font-weight: 900;
}

.navbar a:hover {
  color: #3498db !important;
}

/* CSS for Navbar end */

/* CSS for home page start */

#header {
  width: 100%;
  height: 80vh;
}

#myName {
  color: #3498db;
}

/* CSS for home page end */
